*{
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    text-align: center;
    line-height: 1.6;
}
header{
    padding-top: 40vh;
    text-align: center;

    background-image: url(./img/beachshowcase.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

 /*    object-fit: cover; */


}
h1{
    font-size: 50px;
    line-height: 1.2;

}
.underheader{
    font-size: 20px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: inherit;
    padding: 8px;
    border: 1px solid #926239;
    border-radius: 3px;
}
.content{
    padding: 15px 0;
}
.content-brown{
    padding: 15px 0;
    background-color: #926239;
    color: white;
}
.wrapper{
    width: 100vw;
}
.article-inline{
    text-align: left;
    display: inline-block;
    width: 32vw;
    max-height: 30vh;
    margin: 0 auto;
    padding-top: 5px;
}
.brown{
    color: white;
    background-color: #926239;
}